.cell {
    background-color: aquamarine;
}

.div-hover {
    background-color: pink;
}

#grid-container {
    width: 480px;
    height: 480px;
    display: grid;
    background-color: black;
    align-content: center;
    margin-left: 33%;
    padding: 1px;
}

h1{
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 15px 46%;
    cursor: pointer;


    background-color: white;
    color: black;
    border: 2px solid #555555;
}
